body {
	background-color:#d9d9d9;
	margin: 0;
	margin-top: 10px;
	font-family: Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px #fff;
}

table {
	width: 50%;
	margin: 0 auto;
}

td, th {
	min-width: 100px;
	text-align: left;
	margin: 0;
}

th {
	text-shadow: none;
}

tr {
	border-style: solid;
	border-width: 1px 0;
	border-color: #999;
}

h1 {
	font-size:50px;
	margin: 10px;
}

footer, a {
	text-align: center;
	color: #999;
}

a:hover {
	color: #222;
}